:root {
    --primary-color: #171933;
    --secondary-color: #FFEFCA;

    --spacing-1 : 0.5rem;
    --spacing-2 : calc(var(--spacing-1)*2);
    --spacing-3 : calc(var(--spacing-1)*3);
    --spacing-4 : calc(var(--spacing-1)*4);

    --font-color-1: #fff;
    
    --box-shadow-1 : 0px 0px 10px 3px rgba(255,255,255,0.75);
}