:root {
    --primary-color: #171933;
    --secondary-color: #FFEFCA;

    --spacing-1 : 0.5rem;
    --spacing-2 : calc(var(--spacing-1)*2);
    --spacing-3 : calc(var(--spacing-1)*3);
    --spacing-4 : calc(var(--spacing-1)*4);
    --box-shadow-1 : -10px 5px 5px var(--secondary-color);
    --box-shadow-2 : 10px 5px 5px var(--secondary-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background : 
        linear-gradient(rgba(23, 25, 51, 0.99), rgba(23, 25, 51, 0.99)) fixed no-repeat center,
        url(../img/logo.png) fixed no-repeat center;
    font-family: Ubuntu, sans-serif;
    padding: 0 var(--spacing-2);

}

/* CONTACT US */

/*.namesBox {
    display:inline-block;                    
    margin: 0 auto;
    margin-bottom: 15px;
    width: 380px;
    max-width: 100%;
    box-sizing: border-box;
}*/
/*.bandeau {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-image: url("https://picsum.photos/id/684/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: .5rem;
    z-index: 1;
}*/

.boxFormulaire {
        /*display: grid;
    margin: 0 auto;
    grid-template-rows: 3fr 3fr 3fr 15fr;
    gap: 15px;
    max-width: 90%;
    max-height: 90%; 
    display:flex;*/
    /*box-shadow: 0 0 2px 3px lightblue;*/
    display:flex;
    border-radius: 10px;
    flex-direction: column;  
    margin-bottom: 10px;                                  
    margin-top:50px;
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(198, 235, 230);
    margin-bottom: 50px;
    padding: 1rem;
}

.boxFormulaire form {
    border-radius: 10px;
    border:1px solid black;
    padding: 1rem;
}

.boxFormulaire h3 {
    margin-top:-2rem;
    text-align:center;
    background-color:rgb(198, 235, 230);
    max-width: 50%;
}

.pForm {
    color:#171933;
    margin-top:100px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    color: #FFEFCA;
    font-size: large;
}

.formElements {
    padding-bottom: .5rem;
}

fieldset {
    display:flex;
    color: #171933;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:10px 10px 10px rgb(209, 213, 222) inset;
    height: 415px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 95%;
    box-sizing: border-box;
}

form {
    color: #171933;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0px 21px 17px -19px rgba(0,0,0,0.75);
}

.formElements {
    margin: 0 auto;
    
}

#messageForm {
    width: 400px;
    height: 15em;
}

.titleFormulaire {
    color:#FFEFCA;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 100px;
   
}

#email {
width: 300px;
}

.namesBox {
    display:flex;                 
    margin-bottom: 15px;
    width: 380px;
    box-sizing: border-box;
}



@media screen and (max-width: 665px) {
    
    #messageForm {
        width: 80%;
        height: 15em;
    }
    .namesBox {
        display:block;                   
        width: 380px;
        max-width: 100%;
        box-sizing: border-box;
    }
    #email {
        width: 80%;
        }
    .boxFormulaire {
        height: 460px; 
    }
}

.button {
    padding: var(--spacing-1) var(--spacing-3);
    position: relative;
    background: hsl(236,38%,8%);
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: .8rem;
}

input[type=submit]::before, 
input[type=submit]::after {
    content: "";
    width:0;
    height: 2px;
    position: absolute;
    transition: all 0.3s linear;
    background: #54e6e7;
}

span::before, 
span::after {
    content: "";
    width:2px;
    height: 0;
    position: absolute;
    transition: all 0.3s linear;
    background: #54e6e7;
}

input[type=submit]:hover::before, 
input[type=submit]:hover::after {
    width: 100%;
}

input[type=submit]:hover span::before, 
input[type=submit]:hover span::after {
    height: 100%;
}

input[type=submit]::after {
    right:0;
    bottom:0;
    transition-duration: 0.4s;
}

input[type=submit] span::after {
    right:0;
    bottom:0;
    transition-duration: 0.4s;
}

input[type=submit]::before {
    left:0;
    top:0;
    transition-duration: 0.4s;
}

input[type=submit] span::before {
    left:0;
    top:0;
    transition-duration: 0.4s;
}