.boxFormulaire {
    display:flex;
    border-radius: 10px;
    flex-direction: column;  
    margin-bottom: 10px;                                  
    margin-top:50px;
    margin: 0 auto;
    max-width: 80%;
    height: 100%;
    box-sizing: border-box;
    background-color: #b8bbdf;
    margin-bottom: 50px;
    padding: 1rem;
}

.formElements input {
    padding: var(--spacing-1);
}
.boxFormulaire form {
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    height: 100%;
}

.boxFormulaire h3 {
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:-1.9rem;
    background-color: #b8bbdf;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.pForm {
    /*color:#171933;*/
    margin-top:100px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    color: whitesmoke;
    font-size: large;
}

.formElements {
    padding-bottom: .5rem;
}

form {
    color: #171933;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0px 21px 17px -19px rgba(0,0,0,0.75);
}

#messageForm {
    width: 500px;
    height: 15em;
    
}

.titleFormulaire {
    color:#FFEFCA;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 100px;
}

.titleContact {
    border-bottom:1px solid black;
    text-align: center;
}

#email {
width: 300px;
}

.namesBox {
    display:flex;                 
    margin-bottom: 15px;
    width: 100%;
    gap: var(--spacing-3);
    justify-content: space-between;
}

@media screen and (max-width: 665px) {
    
    #messageForm {
        width: 80%;
    }

    .namesBox {
        display:block;                   
        width: 380px;
        max-width: 100%;
        box-sizing: border-box;
    }

    #email {
        width: 80%;
        }
    .boxFormulaire {
        height: 100%; 
    }
}

@media screen and (max-width: 750px) and (min-width: 666px) {
    #messageForm {
        width: 400px;
        height: 15em;
    }
}
button {
    padding: var(--spacing-1) var(--spacing-3);
    position: relative;
    background: hsl(236,38%,8%);
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

button::before, 
button::after {
    content: "";
    width:0;
    height: 2px;
    position: absolute;
    transition: all 0.3s linear;
    background: #54e6e7;
}

span::before, 
span::after {
    content: "";
    width:2px;
    height: 0;
    position: absolute;
    transition: all 0.3s linear;
    background: #54e6e7;
}

button:hover::before, 
button:hover::after {
    width: 100%;
}

button:hover span::before, 
button:hover span::after {
    height: 100%;
}

button::after {
    right:0;
    bottom:0;
    transition-duration: 0.4s;
}

button span::after {
    right:0;
    bottom:0;
    transition-duration: 0.4s;
}

button::before {
    left:0;
    top:0;
    transition-duration: 0.4s;
}

button span::before {
    left:0;
    top:0;
    transition-duration: 0.4s;
}