@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/*##################################################*/
/*                        MAIN                      */
/* #################################################*/



@media screen and (max-width: 778px) {
    main {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}


h1 {
color: #FFEFCA;
text-align: center;
padding: 0%;
margin: 2rem;
}

h2 {
    color: #FFEFCA;
    margin: 2rem;
   }

   h3 {
    color: #FFEFCA;
    margin: 2rem;
}

.link {
    color: blanchedalmond;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
font-weight:bold ;
font-style: italic;
text-align: center;
margin: auto;
  }

.publication {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0;
   }

    .article{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1fr 3fr 3fr 1fr;
        grid-gap: 5px;
        border-radius: 10px / 10px;
            box-shadow:4px 4px 4px 4px whitesmoke;
}
        

    .article p {
    margin: 0;
    text-align: center;
    grid-column: 1/-1;
    line-height: 1.5;
}

.social {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }

    
img {
    width: 125px;
    height: 125px;
   margin: auto;
}