@import url(https://fonts.googleapis.com/css?family=Raleway);
@import '_variables.css';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Raleway"; */
}

body {
  background : 
      linear-gradient(rgba(23, 25, 51, 0.99), rgba(23, 25, 51, 0.99)) fixed no-repeat center,
      url(../img/logo.png) fixed no-repeat center;
  font-family: Ubuntu, sans-serif;
  padding: 0 var(--spacing-2);
}

@media screen and (min-width:1000px) {
  body {
      width: min(80%, 1300px);
      margin: auto;
      padding: 0;
  }
  
}

/*##################################################*/
/*                  HEADER                          */
/*##################################################*/

.top-nav {
    height: 15vh;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* space-between;*/
}

.logo {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
}

.logo img {
  height: 80%;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}

.menu > li {
  margin: 0 var(--spacing-2);
  overflow: hidden;
  text-align: center;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 2rem;
}

@media screen and (min-width:815px) {
  .menu {
    position: relative;
  }

  .menu li {
    z-index: 1;
  }

  .menu .animation {
    position: absolute;
    height: 100%;
    top:0;
    z-index: 0;
    background-color: var(--tertiary-color);
    border-radius: var(--spacing-1);
    transition: all 0.5s ease-in-out;
  }

  .menu .start-home {
    width: 0px;
    left:  8px;
  }

  li:nth-child(1):hover~.animation {
    width: 103px;
    left: 8px;
  }

  li:nth-child(2):hover~.animation {
    width: 126px;
    left: 127px;
  }

  li:nth-child(3):hover~.animation {
    width: 150px;
    left: 269px;
  }

  li:nth-child(4):hover~.animation {
    width: 171.5px;
    left: 437px;
  }

  .menu .underline {
    position: absolute;
    height: 3px;
    top: 105%;
    z-index: 0;
    background-color: var(--secondary-color);
    border-radius: var(--spacing-1);
    transition: all 0.5s ease-in-out;
  }
  
  li:nth-child(1).active~.underline {
    width: 103px;
    left: 8px;
  }
  
  li:nth-child(2).active~.underline {
    width: 126px;
    left: 127px;
  }
  
  li:nth-child(3).active~.underline {
    width: 150px;
    left: 269px;
  }
  
  li:nth-child(4).active~.underline {
    width: 171.5px;
    left: 437px;
  }
}


/*##################################################*/
/*                 MENU HAMBURGER                   */
/*##################################################*/

.menu-button-container {
  display: none;
  height: 100%;
  width: 50px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 5px;
  width: 50px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-right: 2rem;
}

.menu-button::before {
  content: '';
  margin-top: -15px;
}

.menu-button::after {
  content: '';
  margin-top: 15px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 815px) {
  .top-nav {
    justify-content: space-between;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 15vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-2);
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border-bottom: 1px solid #fff;
    height: 4em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: var(--primary-color);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/*##################################################*/
/*                        MAIN                      */
/* #################################################*/

main {
  min-height: 75vh;
  color: white;
  padding: var(--spacing-2) 0;
}

/*##################################################*/
/*                       FOOTER                     */
/* #################################################*/

footer {
  height: 10vh;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

footer>div {
  display: flex;
  gap: var(--spacing-2);
  font-size: 2rem;
  height: 100%;
}

.section {
  background-color: hsl(236,38%,8%);
  color: #fff;
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: var(--spacing-1);
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.9);
  transition: width 0.5s ease-in-out,
  background-color 0.5s ease-in-out;
}

.icon {
  display: flex;
  height: 50px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:800px) {

    .section:hover {
      width: 220px;
      transition: all 0.5s ease-in-out;
    }

    .section::after {
      content: attr(tooltip);
      margin-left: var(--spacing-1);
    } 

    .facebook:hover {
      background-color: #395693;
    }

    .instagram:hover {
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    }

    .twitter:hover {
      background-color: #1A8CD8;
    }

    .linkedin:hover {
      background-color: #0A66C2;
    }

    .youtube:hover {
      background-color: #FF0000;
    }
  
}

@media screen and (max-width:600px) {
  footer {
    flex-direction: column;
    padding-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
  }
}