@import 'style.css';

/*##################################################*/
/*                        MAIN                      */
/* #################################################*/

main {
    min-height: 75vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    text-decoration: underline white;

}
section {
    color : white;
}

p{
    max-width: 60ch;
    font-size: 1.3rem;
    line-height: 1.5em;
}

img {
    border-radius: 50%;
    opacity: 1;
    
    

}
img:hover{
    opacity: 0.2;
    
}


/*TEXT ET IMAGE FLORENT*/

.florentv {
    display: grid;
    grid-template-areas: 
        "img p"
        "h  p" ;

    margin-top: var(--spacing-4);
    gap: var(--spacing-3) ;
}

.florentv > h2 {
    grid-area: h;
    margin-left: 60% ;
}
.florentv > p {
    grid-area: p;
    margin: auto;
    padding: var(--spacing-3);
    text-align: start;
}
.florentv > img {
    grid-area: img;
    margin: auto ;
    margin-left: 50%;
    max-width: 45%;
    box-shadow: var(--box-shadow-1);

}

.unsurdeux{

    display: flex;
    justify-content: flex-end;
    gap: 2em;
    font-size: 2em;

}

.deuxsurdeux{
    display: flex;
    justify-content: start;
    gap: 2em;
    font-size: 2em;


}


/* TEXTE ET IMAGE JESSICA */

.jessicap {
    display: grid;
    grid-template-areas:
        "p img"
        "p h" ;
    text-align: end;
    margin-top: var(--spacing-4);
    gap: var(--spacing-3) ;
}
.jessicap > p {
    grid-area: p;
    margin: auto;
    padding: var(--spacing-3);
}
.jessicap > h2 {
    grid-area: h;
    margin-right: 60%;
}

.jessicap > img {
    grid-area: img;
    max-width: 45%;
    margin: auto;
    margin-right: 50%;
    box-shadow: var(--box-shadow-2);
    
}
/* TEXTE ET IMAGE ALEXANDRE */

.alexandred {
    display: grid;
    grid-template-areas: 
        "img p"
        "h  p" ;

    margin-top: var(--spacing-4);
    gap: var(--spacing-3) ;
}

.alexandred > h2 {
    grid-area: h;
    margin-left: 60% ;
}
.alexandred > p {
    grid-area: p;
    margin: auto;
    padding: var(--spacing-3);
    text-align: start;
}
.alexandred > img {
    grid-area: img;
    margin: auto ;
    margin-left: 50%;
    max-width: 45%;
    box-shadow: var(--box-shadow-1);

}

/* TEXTE ET IMAGE MAXENCE */

.maxenceh {
    display: grid;
    grid-template-areas:
        "p img"
        "p h" ;
    text-align: end;
    margin-top: var(--spacing-4);
    gap: var(--spacing-3) ;
    
}
.maxenceh > p {
    grid-area: p;
    margin: auto;
    padding: var(--spacing-3);
    
}
.maxenceh > h2 {
    grid-area: h;
    margin-right: 60%;
}

.maxenceh > img {
    grid-area: img;
    max-width: 45%;
    margin: auto;
    margin-right: 50%;
    box-shadow: var(--box-shadow-2);
    
}
/*##################################################*/
/*                       FOOTER                     */
/* #################################################*/

footer {
    height: 10vh;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer p:last-of-type {
    display: flex;
    gap: var(--spacing-2);
    font-size: 2rem;
}

/* MEDIA QUERIES */


@media screen and (max-width: 900px){
    *{
        max-width: none;
    }
}
/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    h1{
        display: flex;
        
        font-size: 2em;
        margin-left: 30%;
    }
}

@media screen and (max-width: 900px) {
    .florentv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    
        
    }
}
@media screen and (max-width: 900px) {
    .florentv > h2 {
        margin: auto;
    
        
    }
}
@media screen and (max-width: 900px) {
    .florentv > p {
        margin-left: 0;
        text-align: justify;
        padding: 0;
    }
}

@media screen and (max-width: 900px){
    .florentv > img {
        margin-left: auto;
    }
}


/* MEDIA QUERIES JESSICA */
@media screen and (max-width: 900px) {
    .jessicap{
        display: flex;
        flex-direction: column;
    
        
    }
}

@media screen and (max-width: 900px) {
    .jessicap > p {
        margin-left: 0;
        text-align: justify;
        padding: 0;
    }
}
@media screen and (max-width: 900px) {
    .jessicap > h2 {
        margin: auto;
    }
    
}

@media screen and (max-width: 900px) {
    .jessicap > img {
        margin-right: auto;
    }
    
}


/* MEDIA QUERIES ALEXANDRE */
@media screen and (max-width: 900px) {
    .alexandred{
        display: flex;
        flex-direction: column;
    
        
    }
}
@media screen and (max-width: 900px) {
    .alexandred > h2 {
        margin: auto;
    }
    
}
@media screen and (max-width: 900px){
    .alexandred > img {
        margin-left: auto;
    }
}


@media screen and (max-width: 900px) {
    .alexandred > p {
        margin-left: 0;
        text-align: justify;
        max-width: 100%;
        padding: 0;
    }
}



/* MEDIA QUERIES MAXENCE */
@media screen and (max-width: 900px) {
    .maxenceh{
        display: flex;
        flex-direction: column;
    
        
    }
}
@media screen and (max-width: 900px) {
    .maxenceh > h2 {
        margin: auto;
    }   
}
@media screen and (max-width: 900px) {
    .maxenceh > p {
        margin-left: 0;
        text-align: justify;
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 900px) {
    .maxenceh > img {
        margin-right: auto;
    }
    
}

