:root {
    --primary-color: #171933;
    --secondary-color: #FFEFCA;

    --spacing-1 : 0.5rem;
    --spacing-2 : calc(var(--spacing-1)*2);
    --spacing-3 : calc(var(--spacing-1)*3);
    --spacing-4 : calc(var(--spacing-1)*4);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background : 
    linear-gradient(rgba(23, 25, 51, 0.99), rgba(23, 25, 51, 0.99)
    ) fixed no-repeat center,
    url(../img/logo.png) fixed no-repeat center;

    //background: linear-gradient(rgba(23,25,51,0.5) 0%, rgba(23,25,51,0.5) 100%),
        url(./img/logo.png);
    font: ;
}

header {
    height: 15vh;
    
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);
}

header, footer {
    width: 80%;
    margin: auto;
}

header img {
    height: 80%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: var(--spacing-4);
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 2rem;
}

main {
    min-height: 75vh;
}

footer {
    height: 10vh;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer p:last-of-type {
    display: flex;
    gap: var(--spacing-2);
    font-size: 2rem;
}