

@import 'style.css';

/*##################################################*/
/*                        MAIN                      */
/* #################################################*/

main {
    min-height: 75vh;
    font-family: 'Montserrat', sans-serif;
    line-height: var(--spacing-4);
}

h1 {
    font-family: ventography;
    color: var(--font-color-1);
    font-size: calc(var(--main-title)*2); 
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: 100;
    line-height: 0.8;
}

section {
    color : var(--font-color-1);
    padding-top: 7%;
}

section > p {
    max-width: 60ch;
    font-size: 1.3rem;
    line-height: var(--spacing-4);
}


/*STYLE RESEAUX SOCIAUX*/

.unsurdeux {

    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-4);
    font-size: var(--spacing-4);
}
.deuxsurdeux {
    display: flex;
    justify-content: start;
    gap: var(--spacing-4);
    font-size: var(--spacing-4);
}
div > i:hover {
    background: linear-gradient(rgb(4, 2, 75), rgb(7, 137, 237)) border-box,
    linear-gradient(45deg, rgb(11, 4, 57), rgb(8, 172, 201)) border-box;
    border: 3px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 5px rgba(0, 208, 255, 0.39), 5px 5px 30px 7px #060241a2 ;
    box-shadow: 0px 0px 300px 19px rgba(35,205,235,1);;
}


/*TEXT ET IMAGE FLORENT*/

.florentv {
    display: grid;
    grid-template-areas: 
    "img p"
    "h  p" ;
    margin-top: var(--spacing-4);
    gap: var(--spacing-3) ;
}

.florentv > h2 {
    grid-area: h;
    margin-left: 50% ;
    font-size: var(--sub-title);
}

.florentv > p {
    grid-area: p;
    margin: var(--spacing-5);
    padding: var(--spacing-3);
    text-align: start;
    padding-bottom: 0;
}

.florentv > img {
    grid-area: img;
    margin: 20% auto auto 50%;
    max-width: 45%;
    border-radius:50% ;
    background: linear-gradient(to right top, #05c8f9, #0db8e2, 
                                #14a8cc, #1998b6, #1d88a1, 
                                #107895, #056989, #005a7c, 
                                #004772, #003365, #001f55, #0b0742) border-box;
    border: 7px solid transparent;
    box-shadow: 0px 0px 30px 5px rgba(0, 208, 255, 0.39), 5px 5px 30px 7px #060241a2 ;
}



/* TEXTE ET IMAGE JESSICA */

.jessicap {
    display: grid;
    grid-template-areas:
        "p img"
        "p h" ;
    text-align: end;
    gap: var(--spacing-3) ;
    margin-top: 10%;
}
.jessicap > p {
    grid-area: p;
    margin: var(--spacing-5);
    padding: var(--spacing-3);
}
.jessicap > h2 {
    grid-area: h;
    margin-right: var(--spacing-5);
    padding-bottom: 20%;
    font-size: var(--sub-title);
    margin-left: 5%;
}
.jessicap > img {
    grid-area: img;
    max-width: 45%;
    margin: 25% 50% auto auto;
    border-radius:50% ;
    background: linear-gradient(to right top, #05c8f9, #0db8e2, 
                                #14a8cc, #1998b6, #1d88a1, 
                                #107895, #056989, #005a7c, 
                                #004772, #003365, #001f55, #0b0742) border-box;
    border: 7px solid transparent;
    box-shadow: 0px 0px 30px 5px rgba(0, 208, 255, 0.39), 5px 5px 30px 7px #060241a2 ;
}


/* TEXTE ET IMAGE ALEXANDRE */

.alexandred {
    display: grid;
    grid-template-areas: 
        "img p"
        "h  p" ;

    margin-top: 5%;
    gap: var(--spacing-3) ;
}
.alexandred > h2 {
    grid-area: h;
    margin-left: var(--spacing-5) ;
    padding-right: 20px;
    font-size: var(--sub-title);
}
.alexandred > p {
    grid-area: p;
    margin: var(--spacing-5);
    padding: var(--spacing-3);
    text-align: start;
}
.alexandred > img {
    grid-area: img;
    margin: 10% auto auto 50%; 
    max-width: 45%;
    border-radius:50% ;
    background: linear-gradient(to right top, #05c8f9, #0db8e2, 
    #14a8cc, #1998b6, #1d88a1, 
    #107895, #056989, #005a7c, 
    #004772, #003365, #001f55, #0b0742) border-box;
    border: 7px solid transparent;
    box-shadow: 0px 0px 30px 5px rgba(0, 208, 255, 0.39), 5px 5px 30px 7px #060241a2 ;
}


/* TEXTE ET IMAGE MAXENCE */

.maxenceh {
    display: grid;
    grid-template-areas:
        "p img"
        "p h" ;
    text-align: end;
    margin-top: 10%;
    gap: var(--spacing-3) ;   
}
.maxenceh > p {
    grid-area: p;
    margin: var(--spacing-5);
    padding: var(--spacing-3);
    
}
.maxenceh > h2 {
    grid-area: h;
    margin-right: 50%;
    font-size: var(--sub-title);
}
.maxenceh > img {
    grid-area: img;
    max-width: 45%;
    margin: var(--spacing-5);
    margin-right: 50%;
    margin-top: 5%;
    border-radius:50% ;
    background: linear-gradient(to right top, #05c8f9, #0db8e2, 
                                #14a8cc, #1998b6, #1d88a1, 
                                #107895, #056989, #005a7c, 
                                #004772, #003365, #001f55, #0b0742) border-box;
    border: 7px solid transparent;
    box-shadow: 0px 0px 30px 5px rgba(0, 208, 255, 0.39), 5px 5px 30px 7px #060241a2 ;
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    * {
        max-width: none;
    }
}

@media screen and (max-width: 900px) {
    h1{
        display: flex;
        text-align: center;
        font-size: calc(var(--main-title)*2);
        justify-content: center;
    }
}


/* MEDIA QUERIES FLORENT */

@media screen and (max-width: 900px) {
    .florentv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: var(--spacing-5);
    }
}
@media screen and (max-width: 900px) {
    .florentv > h2 {
        margin: var(--spacing-5);
        padding: 0;
     }
}
@media screen and (max-width: 900px) {
    .florentv > p {
        margin-left: 0;
        text-align: justify;
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 900px) {
    .florentv > img {
        margin-left: var(--spacing-5);
    }
}


/* MEDIA QUERIES JESSICA */

@media screen and (max-width: 900px) {
    .jessicap{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
}

@media screen and (max-width: 900px) {
    .jessicap > p {
        margin-left: 0;
        text-align: justify;
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 900px) {
    .jessicap > h2 {
        margin: var(--spacing-5);
        padding: 0;
    }   
}
@media screen and (max-width: 900px) {
    .jessicap > img {
        margin-right: var(--spacing-5);
    }
}


/* MEDIA QUERIES ALEXANDRE */

@media screen and (max-width: 900px) {
    .alexandred{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
}
@media screen and (max-width: 900px) {
    .alexandred > h2 {
        margin: var(--spacing-5);
    }
}
@media screen and (max-width: 900px){
    .alexandred > img {
        margin-left: var(--spacing-5);
    }
}
@media screen and (max-width: 900px) {
    .alexandred > p {
        margin-left: 0;
        text-align: justify;
        max-width: 100%;
        padding: 0;
    }
}


/* MEDIA QUERIES MAXENCE */

@media screen and (max-width: 900px) {
    .maxenceh{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
}
@media screen and (max-width: 900px) {
    .maxenceh > h2 {
        margin: var(--spacing-5);
    }   
}
@media screen and (max-width: 900px) {
    .maxenceh > p {
        margin-left: 0;
        text-align: justify;
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 900px) {
    .maxenceh > img {
        margin-right: var(--spacing-5);
    }
}

/* MEDIA SCREEN RESEAUX */
@media screen and (max-width: 900px){
    .deuxsurdeux, .unsurdeux  {
        justify-content: center;
        margin-top: 10%;
    }
}


















/*
                                                          
                                ██████              ██████                              
                              ██░░░░░░██████████████░░░░░░██                            
                              ██░░░░░░░░░░░░░░░░░░░░░░░░░░██                            
                                ████░░░░░░░░░░░░░░░░░░████                              
                                ██░░████░░░░░░░░░░████░░██                              
                              ██░░░░████░░░░░░░░░░████░░░░██                            
                              ██░░░░░░░░██████████░░░░░░░░██                            
                              ██░░░░░░██░░░░░░░░░░██░░░░░░██                            
                              ██░░░░░░██░░██░░██░░██░░░░░░██                            
                              ██░░░░░░██░░░░░░░░░░██░░░░░░██                            
                                ██░░░░░░██████████░░░░░░██                              
                                ██░░░░░░░░░░░░░░░░░░░░░░██                              
                                  ██░░██░░░░░░░░░░██░░██                                
                                  ██░░░░██████████░░░░██                                
                                  ██░░░░██      ██░░░░██                                
                                  ████████      ████████                                
*/                                                                                        
                                                                                        
                                                             
